[Unit]
After=network-online.target
Description=Groestlcoin daemon
Documentation=https://github.com/Groestlcoin/groestlcoin/blob/master/doc/init.md
Wants=network-online.target

[Service]
ConfigurationDirectory=groestlcoin
ConfigurationDirectoryMode=0710
ExecStart=/usr/local/bin/groestlcoind \
  -conf=/etc/groestlcoin/groestlcoin.conf \
  -chain=${CHAIN}
ExecStartPre=/bin/chgrp groestlcoin /etc/groestlcoin
Group=groestlcoin
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PermissionsStartOnly=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RuntimeDirectory=groestlcoind
RuntimeDirectoryMode=0710
StateDirectory=groestlcoind
StateDirectoryMode=0710
TimeoutStartSec=infinity
TimeoutStopSec=600
Type=simple
User=groestlcoin

[Install]
WantedBy=multi-user.target
